/*
*  Master css file for ZahradnictvÃ­Â­ lukavec
*
*
* Style routes
* 1 - main content
*   a - header
*   b - main
*     1 - content page
*   c - footer
*   d - parts
* 2 -
*/
/* style path 0 - resources START */
:root {
  --header-height: 80px;
}
/* style path 0 - resources END */
/* style path 1 - main content START */
/* style path 1 - a - main content header START */
header[scope="site"] {
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: .6s;
}
header[scope="site"] {
  animation-duration: .4s;
  }
/* Tohle je náš normální header a aplikuje se nám na každou stránku kromě posts kde jsou potom parallaxy - další syntaxe a pravidla jsou popsány pod tímhle ~~ */

/* ted je to bez selektoru - pod timhle aplikovat barvy (to musí obsahovat tuhle path - okopírovat a potom můžeš pokračovat) */
body header[scope="site"] {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  opacity: 1;
  height: var(--header-height);
  transition: .0s;
}
body:not(.header-_on):not(.header-on):not(.product-page) header[scope="site"] {
    justify-content: flex-end;
}
/*body:not(.product-page) header[scope="site"] .branding,
body:not(.product-page) header[scope="site"] li.special {
  display: none;
}*/
body:not(.header-on) header[scope="site"] .branding a {
  display: none;
}
body.header-on header[scope="site"] .branding,
body.header-on header[scope="site"] li.special {
  display: block;
}
body.header-on header[scope="site"] .branding a {
  color: #1b1b1b;
}
body:not(.header-_on):not(.header-on) header[scope="site"] #main-nav ul li a {
  color: #f1f1f1;
  text-shadow: 0px 0px 3px #0000000d;
}
/* ted je selector a je aktivovaný header - má za sebou barvu */
body.header-on header[scope="site"] {
  background-color: #fff;
  box-shadow: 0px 0px 15px #0000002b;
  top: 0px;
  opacity: 1!important;
  height: var(--header-height);
  transition: .3s;
  position: fixed;
}
/* Tohle je pouze změna menu když je tam admin - aby se nám to trochu zvedlo*/
body.admin:not(.customize-partial-edit-shortcuts-shown) header[scope="site"]{
  top: 32px!important;
}
header[scope="site"] .branding {
    margin-left: 40px;
}
header[scope="site"] .branding a {
    font-family: 'Cinzel', serif;
    white-space: nowrap;
    font-size: 24px;
    padding: 0;
    color: white;
    font-weight: 500;
    position: relative;
    transition: .3s;
    text-decoration: none;
}
header[scope="site"] .branding a:after {
    content: "";
    position: absolute;
    width: 110%;
    height: 1px;
    display: block;
    background: #f34f3f;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
header[scope="site"] .branding a:hover {
  text-shadow: -4px 3px 4px #0000001f;
}
#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
#main-nav ul li {
    margin-right: 10px;
    padding: 0px 10px;
}
#main-nav ul li a {
  margin-right: 10px;
  position: relative;
  padding: 0px 8.5px;
  color: #1b1b1b;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.08rem;
  letter-spacing: 0.08rem;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
#main-nav ul li:not(.special) a::after {
  content: "";
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 0px;
  margin: auto;
  transition: width .2s ease-in-out;
}
#main-nav ul li:not(.special) a:hover:after {
  width: 100%;
}
#main-nav ul li.special {
  position: relative;
}
#main-nav ul li.special i {
  width: 20px;
  margin-left: 0.7rem;
}
#main-nav ul li.special i::before {
  line-height: 16px;
  display: block;
  font-size: 23px;
  position: absolute;
  top: -2px;
}
#main-nav ul li.special i::after{
  content: attr(item-count-sb);
  display: block;
  background: #f34f3f;
  position: absolute;
  top: -4px;
  right: 5px;
  width: 13px;
  height: 13px;
  font-size: 9px;
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4em;
  border-radius: 100%;
  text-align: center;
}
#main-nav ul li:first-of-type {
    margin-left: 10px;
}
#hinfo {
  background: #fff;
  min-height: 250px;
}
body:not(.post):not(.product-page) #hinfo {
  height: 37vh;
}
body.product-page .woocommerce-product-rating {
  display: none;
}
body.product-page #hinfo {
  height: 27vh;
}
body:not(.post) #hinfo .background { overflow: hidden;
  z-index: 0;
}
body:not(.post) #hinfo .simpleParallax{
  overflow: hidden;
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
body:not(.post) #hinfo .simpleParallax img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body:not(.post) #hinfo .clearset {
  z-index: 5;
  background: #0000002b;
}
#hinfo > div:not(.pos-abs) {
  max-width: 1400px;
  margin: auto;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 10;
}
#hinfo h1 {
  font-size: 43px;
  color: #ffffff;
  font-weight: 500;
  padding-bottom: 6px;
}
body.post #hinfo h1 {
   color: black;
}
#hinfo p {
  padding-top: 0px;
  font-size: 15px;
  color: #fff5f5;
  font-weight: 100;
}
.front-page #main-nav ul li:first-of-type {
  display: none;
}
.page-numbers {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.page-numbers li > * {
  width: 26px;
  height: 26px;
  display: flex;
  border-radius: 100%;
  margin-right: 15px;
  transition: .4s;
  color: #a0a0a0;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0px 0px 0px 0.5px #a0a0a0b3;
}

.wc_payment_method.payment_method_bacs .gateway-price {
  display: none;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
  float: unset;
}
.woocommerce a.remove {
      font-size: 2.5em;
      transition: .4s;
      position: relative;
}
.pswp--open {
      z-index: 999999;
}
.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
  margin-bottom: 30px;
}
.wc-proceed-to-checkout a {
  background-color: #00a900!important;
}

.woocommerce a.button.alt {
  padding: 15px 24px;
}

.page-numbers li .next,
.page-numbers li .prev {
  border: 0;
  font-size: 0;
  box-shadow: unset;
}
.page-numbers li .next::after,
.page-numbers li .prev::after {
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  transition: .4s;
  font-weight: 600;
  color: #5f5f5f;
}

.page-numbers li .next::after {  content: "\f101";}
.page-numbers li .prev::after {  content: "\f100";}

.page-numbers li .next:hover::after { transform: translateX(5px); }
.page-numbers li .prev:hover::after { transform: translateX(-5px); }

.page-numbers li .current,
.page-numbers li:hover a:not(.next):not(.prev) {
  color: #f34f3f;
}
/* style path 1 - a - main content header END */
/* style path 1 - b - main content main START */
body {
    margin: 0;
    overflow-x: hidden;
  overflow-y: hidden;

}

* {
    box-sizing: border-box;
}
blockquote {
  padding-left: 35px;
  box-shadow: inset 5px 0px #bf2649e0;
}
blockquote p {
  font-size: 15px!important;
  line-height: 1.4rem!important;
}
h1 {
    margin: 0;
    padding: 20px 0;
}
h2 {font-size: 2rem;}
h3 {font-size: 1.7rem;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.1rem;}
h6 {

}
p {
    margin: 0;
    padding: 16px 0;
}

.pos-abs {
  position: absolute;
}
h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 2em;
  font-family: "Montserrat"!important;
  color: #1b1b1b;
  margin: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
html {
      font-family: "Montserrat", sans-serif;
      overflow-x: hidden;
}
textarea {
  border-radius: 9px;
}
html::-webkit-scrollbar {
    width: 13px;
    height: 8px;
    box-shadow: 0px 0px 0px 4px black;
}
html::-webkit-scrollbar-track {
  box-shadow: inset 9px -13px 20px 20px hsla(0, 0%, 100%, 0.25);
  background-color: #6d646454;
}
html::-webkit-scrollbar-thumb {
  background: #a9a7a7;
  border-radius: 2px;
  box-shadow: inset 0px 0px 1px 0px #000000;
}
html::-webkit-scrollbar-thumb:hover {
  background: #2c3b5a;
}

#content-aside {
    min-width: 310px;
    padding-top: 12px;
}
#content-aside > div {
  position: sticky;
  top: calc(32px + var(--header-height));
}
#content-aside > div > div:not(:first-of-type) {
  padding-top: 10px;
}
#content-section {
    width: 100%;
    padding: 0 30px;
}

main[scope="site"] {
    display: flex;
    min-height: calc(100vh - 230px);
    flex-flow: row;
    margin: 10px auto;
}

main[scope="site"]:not([type="product-page"]) {
  max-width: 1400px;
}
main[scope="site"] #content-section .pinfo {
  display: flex;
  flex-flow: wrap;
}
main[scope="site"] #content-section .pinfo_bottom h1,
main[scope="site"] #content-section .pinfo_bottom h2,
main[scope="site"] #content-section .pinfo_bottom h3,
main[scope="site"] #content-section .pinfo_bottom h4,
main[scope="site"] #content-section .pinfo_bottom h5 {
  font-size: 1.20rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.6px;
  font-family: 'Playfair Display', serif;
  line-height: 1.55rem;
  letter-spacing: 0.1rem;
  margin-block-start: 0;
}
main[scope="site"] #content-section .pinfo_bottom h3:first-of-type {
  margin-top: 0.3rem;
}

.pinfo_bottom {
  padding-top: 30px;
  border-top: 1px solid #e4e4e4;
}
main[scope="site"] #content-section .pinfo_bottom * {

}
main[scope="site"] #content-section .pinfo_bottom p {
  font-size: 16px;
  line-height: 1.6rem;
}
.pinfo, .pinfo_bottom {
    padding-left: 30px;
}
.pinfo .left-side p {
  font-size: 13px;
  padding-bottom: 6px;
}
  main[scope="site"] #content-section .pinfo .woocommerce-ordering {
    height: 40px;
  }

main[scope="site"] #content-section .pinfo .woocommerce-notices-wrapper {
  width: 100%;
}
main[scope="site"] #content-section .pinfo .woocommerce-result-count {
  width: 50%;
  font-size: 1rem;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
}
main[scope="site"] #content-section .pinfo .woocommerce-ordering {
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
main[type="post"] p {
  line-height: 1.8rem;
  padding: 12px 0;
}
main[type="post"] {
  background-color: white;
  text-align: center;
}
main[type="post"] > * {
  max-width: 1150px;
  margin: auto;
  text-align: justify;
}

.stock {
  font-weight: 700;
}

.stock.out-of-stock {
  color: rgb(215, 12, 12);
}

.stock.in-stock {
  color: #148507;
}

.products:not(.related) {
    display: flex;
    flex-flow: wrap;
    background: white;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.products.related .product:first-of-type {
  margin-left: 0;
}

.products .product {
    margin: 20px 29px;
    transition: .5s;
    background: white;
    border-radius: 5px;
}

.products .product:hover .kytimg img {
    transform: scale(1.02) translateX(calc(-50% + 5px))!important;
}
.products .product .kytimg {
  overflow: hidden;
  transition: .2s;
  position: relative;
  width: 275px;
  height: 370px;
  /* z-index: 1;
  box-shadow: inset 0px 0px 10px 10px black;
  box-shadow: 0px 4px 24px -2px #00000073;*/
}
.products .product div[header] {
  text-align: center;
  box-shadow: 0px 7px 20px -3px #00000021;
  width: 90%;
  margin: auto;
  background: white;
  z-index: 1;
  position: relative;
  transform: translateY(-38px);
}
.products .product h2 {
  padding-top: 16px;
  font-size: 1rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #2b2b2b;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0.78rem;
}
.products .product .woocommerce-loop-product__link {
  text-decoration: none;
  color: inherit;
}
.products .product .price {
  padding: 0;
  width: 100%;
  display: block;
  padding-top: 0px;
  padding-bottom: 14px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #585858c9;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
}
.products .product .star-rating {
  display: none;
}
.product .button.product_type_simple.add_to_cart_button,
.product .button.product_type_variable.add_to_cart_button {
  position: absolute;
  bottom: 14px;
  color: #585858b8;
  opacity: 0;
  outline: 0;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: Montserrat,sans-serif;
  text-decoration: none;
  width: 100%;
  left: 0;
  transform: translateX(-30%);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  z-index: 3;
}
.products .product:hover .button.product_type_simple.add_to_cart_button,
.products .product:hover .button.product_type_variable.add_to_cart_button {
  transform: translateX(0px);
  opacity: 1;
}
.products .product:hover .price {
  transform: translateX(30%);
  opacity: 0;
}
.products .product .button.product_type_simple.add_to_cart_button:hover,
.products .product .button.product_type_variable.add_to_cart_button:hover{
  color: #f34f3f;
}
.products .product .kytimg .shadow {
  position: relative;
  /*  box-shadow: inset 1px 0px 10px 10px #000000;*/
  height: 100%;
  /* transition: .3s ease; */
}
.products .product .kytimg .shadow img {
  height: 100%;
  width: auto!important;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  transition: .6s ease;
}
aside .product-categories {
  padding: 0;
  list-style: none;
}
aside .product-categories li {
  margin: 4px 0px;
  color: #888484;
}
aside .product-categories a {
  padding: 0;
  margin: 0px;
  vertical-align: baseline;
  font-size: 0.9rem;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  letter-spacing: 0.05rem;
  transition: color .2s ease-out;
  line-height: 1.05rem;
}
aside .product-categories li.current-cat_::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  transform: translateX(calc(-100% - 5px)) translateY(4px);
  font-size: 10px;
  color: #404040;
}
aside .product-categories a:hover, aside .product-categories li.current-cat > a, aside .product-categories li.current-cat {
  color: #f34f3f;
}
#content-aside h6:first-of-type {
  margin-top: 0px;
}
#content-aside h6 {
  margin-top: 25px;
}
/* style path 1 - b - 1 main content main "content page" START */
main[type="product-page"] .product {
  display: flex;
  flex-flow: column;
  margin-top: 2.5rem
}

main[type="product-page"] .product-summary-wrapper,
main[type="product-page"] .woocommerce-tabs .tabs.wc-tabs,
main[type="product-page"] .woocommerce-tabs .woocommerce-Tabs-panel > *,
main[type="product-page"] .related.products {
  max-width: 1400px;
  margin: auto!important;
  width: 100%;
}
main[type="product-page"] .product-summary-wrapper {
  display: flex;
}
main[type="product-page"] .woocommerce-product-gallery__wrapper {
  padding: 0;
  margin: 0px;
  height: 100%;
  width: 100%;
}
main[type="product-page"] #content-section {
  padding: 0;
}
main[type="product-page"] #content-section .summary.entry-summary {
  padding-left: 55px;
}
main[type="product-page"] #content-section .woocommerce-product-gallery {

}
main[type="product-page"] #content-section .woocommerce-product-gallery__wrapper {
  position: relative;
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image {
  overflow: hidden;

}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image a {
  display: block;
  width: 100%;
  height: 100%;
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:first-of-type {
  width: 440px;
  height: 580px;
  position: relative;
  margin-left: var(--product-image-margin-side-left);
  margin-right: var(--product-image-margin-side-right);
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:not(:first-of-type) {
  height: calc(25% - 15px);
  width: 119px;
  left: var(--product-gallery-side-left);
  right: var(--product-gallery-side-right);
  position: absolute;
  top: 0;
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(2) {

}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(3) {
  transform: translateY(calc(100% + 15px));
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(4) {
  transform: translateY(calc(200% + 30px));
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(5) {
  transform: translateY(calc(300% + 45px));
}
main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:nth-of-type(4)):not(:nth-of-type(5)) {
  display: none;
}
main[type="product-page"] #content-section .woocommerce-product-gallery img {
  height: 100%;
  width: auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}


main[type="product-page"] #content-section .summary .product_title {
  font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 0.4px;
    padding-top: 10px;
    padding-bottom: 5px;
}
main[type="product-page"] #content-section .summary .price {
  position: relative;
  display: block;
  margin: 4px 0 0;
  padding: 0;
  color: #afafaf;
}
main[type="product-page"] #content-section .woocommerce-product-details__short-description  {
  line-height: 1.6em;
  font-size: 15px;
  font-family: 'Lora', serif;
      margin-bottom: 5px;
}
main[type="product-page"] #content-section .product_meta {
  display: flex;
    flex-flow: column;
    line-height: 2rem;
    font-size: 14px;
    margin-top: 1rem;
}
main[type="product-page"] #content-section .product_meta a {
  text-decoration: none;
  color: inherit;
  transition: .4s;
  padding: 2px 10px;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  font-size: 13px;
}
main[type="product-page"] #content-section .product_meta a:hover {
  color: #f34f3f;
  background: #f7f7f7;
}
main[type="product-page"] #content-section .woocommerce-product-details__short-description p {
  max-width: 720px;
  padding-right: 20px;
}
main[type="product-page"] .related.products > h2 {
  margin-bottom: -10px;
  margin-top: 30px;
}
.woocommerce-message {
  border-top-color: #bf2649e0;
}
.woocommerce-message::before {
  color: #bf2649e0;
}
main[scope="site"] .woocommerce-info {
      border-top-color: #5051ffe0;
}
main[scope="site"] .woocommerce-info::before {
  color: #bf2649e0;
}
main[type="product-page"] #content-section button[type="submit"].single_add_to_cart_button {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0px 17px;
  background: #232323;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 3rem;
}

.comment-respond {
  max-width: 750px;
  margin: auto;
  padding: 0px 20px;
}
.comment-form-comment {
  display: flex;
    flex-flow: column;
}
.comment-form-rating {
  display: flex;
  align-items: center;
}
.comment-form-rating .stars {
  margin-left: 15px;
}
.comment-form-rating .stars *[class*="star"] {
  color:transparent;
  font-size: 0px;
}
.comment-form-rating .stars *[class*="star"].active ~ *::after {
  font-weight: 400;
}
.comment-form-rating .stars *[class*="star"]::after {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff9e00;
  font-size: 16px;
}
main[type="product-page"] #content-section .quantity input[type="number"] {
  height: 100%;
    font-family: 'Montserrat', sans-serif;
}
main[type="product-page"] #content-section .woocommerce-variation-add-to-cart, .summary .cart:not(.variations_form) {
  height: auto;
  display: flex;
  z-index: 999;
}
main[type="product-page"] #content-section .woocommerce-variation-add-to-cart, .summary .cart:not(.variations_form) .quantity {
  height: 3rem;
}
main[type="product-page"] #content-section .variations {
  margin-bottom: 45px;
  font-family: 'Montserrat', sans-serif;
  border-spacing: 0 5px;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
      width: 100%;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper {
   margin-top: 5rem;
   overflow: hidden;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs {
  list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   position: relative;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs::after {
  content: "";
    height: 1px;
    display: block;
    width: 300vw;
    left: 0px;
    transform: translateX(-50%);
    background: #eee;
    position: absolute;
    bottom: -1px;
    z-index: 2;
    box-shadow: 0px 0px 17px 1px #0000001c;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > * {
  text-decoration: none;
  border: 1px solid #eee;
  margin-left: -1px;
  margin-bottom: -1px;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > *:first-of-type { border-top-left-radius: 5px}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > *:last-of-type { border-top-right-radius: 5px;}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > * a {
  text-decoration: none;
  padding: 1em 2em;
  display: block;
  color: #2b2b2b;
  font-size: 16px;
  transition: .3s;
  font-family: 'Montserrat', sans-serif;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > *.active {
  background-color: black;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > *.active a {
  background-color: black;
  color: white;
}
main[type="product-page"] .woocommerce-tabs.wc-tabs-wrapper .tabs > * a:hover {
  color: #f34f3f;
}
main[type="product-page"] .woocommerce-Tabs-panel {
  display: block;
  box-shadow: 0px -37px 17px -38px #0000001c;
}
main[type="product-page"] .woocommerce-Tabs-panel::after {
  content: "";
    height: 1px;
    display: block;
    width: 300vw;
    left: 0px;
    transform: translateX(-50%);
    background: #eee;
    position: absolute;
    bottom: -1px;
    z-index: 2;
}
main[type="product-page"] .woocommerce-Tabs-panel > * {
  max-width: 1400px;
  margin: auto!important;

}
.reset_variations {
  position: relative;
  visibility: visible;
    display: inline;
    width: 14px;
    color: transparent;
}
.reset_variations::after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .3s;
  color: black;
  position: absolute;
    right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  top: 0PX;
}
.reset_variations:hover::after {
  color: red;
}
main[type="product-page"] #content-section .variations .value {
  padding-left: 10px;
  display: flex;
}
main[type="product-page"] #content-section .variations .label {
  font-size: 15px;
}
main[type="product-page"] #content-section .variations .value select {
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 20px;
}
main[type="product-page"] .woocommerce-Tabs-panel {
  padding-top: 1.38rem;
  padding-bottom: 0.85rem;
  z-index: 4;
  position: relative;
  background: white;
}
.woocommerce ul.cart_list, .woocommerce ul.product_list_widget {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
  padding: 10px 0;
    margin: 0;
    list-style: none;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
  display: flex;
  font-weight: 400;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  float: unset;
  width: 160%;
  height: 100%;
  margin-left: unset;
  position: absolute;
  object-fit: cover;
}
.woocommerce ul.cart_list li .image, .woocommerce ul.product_list_widget li .image {
  min-width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 4px;
  box-shadow: none;
  transition: .5s;
  position: relative;
}
.woocommerce ul.cart_list li .info, .woocommerce ul.product_list_widget li .info {
  display: flex;
  flex-flow: wrap;
  max-width: 290px;
  margin-left: 10px;
}
.woocommerce ul.cart_list li .info .product-title, .woocommerce ul.product_list_widget li .info .product-title {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #2b2b2b;
  font-size: 14px;
  transition: .4s;
  width: 100%;
}
.woocommerce ul.cart_list li .info .woocommerce-Price-amount,
.woocommerce ul.product_list_widget li .info .woocommerce-Price-amount,
.woocommerce ul.product_list_widget li .info .woocommerce-price-suffix {
  color: #585858b8;
  font-weight: 500;
  font-size: 12px;
  font-family: Montserrat,sans-serif;
  padding-top: 0.23rem;
  float: left;
  margin-right: 4px;
}

.order-total .includes_tax {
  display: none;
}

.woocommerce ul.cart_list li a:hover .info .product-title, .woocommerce ul.product_list_widget li a:hover .info .product-title {
  color: #f34f3f;
}
.woocommerce ul.cart_list li a:hover .image, .woocommerce ul.product_list_widget li a:hover .image {
  box-shadow: 0px 3px 10px #0000004d;
}
main[type="product-page"] #tab-description {
  line-height: 1.6em;
}

main[type="product-page"] #tab-description p {
  margin: 15px 0px;
}

main[type="product-page"] #tab-description h3 {
  margin: 25px 0px!important;
}
.woocommerce-message {
      border-top-color: #f6bd60;
}
.woocommerce-message::before {
      color: #f6bd60;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  background-color: #6086ff1a;
}
#shipping_method .woocommerce-Price-amount {
  display: none;
}
.woocommerce-checkout-payment {
  position: relative;
  margin-top: 90px;
}
.woocommerce-checkout-payment > h4  {
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - 40px));
  margin: 0;
}

.woocommerce-checkout-payment > small {
  position: absolute;
  top: -36px;
}
input[type=number] {
       /*for absolutely positioning spinners*/
       position: relative;
        padding: 0.3rem 1rem;
        text-align: left;
        padding-left: 6px;
       padding-right: 25px;
}

.woocommerce .quantity .qty {
      width: 4.631em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {opacity: 1;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
main[scope="front-page"] .preview {
  height: 100vh;
  overflow: hidden;
}
main[scope="front-page"] .preview .cleareset {
  top: 0px;
  left: 0px;
  /*background: #bf26491f;*/
  z-index: 5;
  box-shadow: inset 0px -18px 26px 7px #00000042;
}
main[scope="front-page"] .preview h1 {
  z-index: 10;
  color: white;
  font-size: 4rem;
  letter-spacing: 3px;
  font-family: 'Cinzel', serif;
  text-shadow: 0px 0px 0px #0000000d;
  width: 100%;
  text-align: center;
}
main[scope="front-page"] .preview .mouse {
  bottom: 3rem;
  z-index: 10;
  color: white;
  font-size: 3rem
}
main[scope="front-page"] .preview .simpleParallax {
  overflow: hidden;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  height: 100%;
}
main[scope="front-page"] .preview .icon-scroll:before {
  position: absolute;
  left: 50%;
}

main[scope="front-page"] .preview .icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
main[scope="front-page"] .main-content-wrap > *:not(.special) {
  max-width: 1150px;
  margin: auto;
}
main[scope="front-page"] .preview .icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
main[scope="front-page"] .special.newestpost {
  margin-top: 60px;
}
main[scope="front-page"] .special.newestpost header {
  height: 50vh;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
main[scope="front-page"] .special.newestpost header .wp-post-image {
  position: absolute;
  width: 100%;
  height: auto
}
main[scope="front-page"] .special.newestpost header .cleareset {
  background-color: #0000003b;
  position: relative;
  z-index: 10;
  box-shadow: inset 0px 0px 31px 6px #0000006b;
}
main[scope="front-page"] .special.newestpost header .cleareset > div {
  display: flex;
  flex-flow: column;
  max-width: 1150px;
  margin: auto;
  height: 100%;
  justify-content: center;
  padding-top: 50px;
  padding: 0px 25px;
}
main[scope="front-page"] .special.newestpost header .cleareset > div > *{
}
main[scope="front-page"] .special.newestpost p.excerpt {
  max-width: 1150px;
  margin: 10px auto;
  color: white;
  line-height: 1.6rem;
  font-size: 1.05rem;
}
main[scope="front-page"] .special.newestpost header p.inf {
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}
main[scope="front-page"] .special.newestpost header h1 a {
  color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 2.2rem;
}
main[scope="front-page"] .special.newestpost header img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main[scope="front-page"] .main-content-wrap {
      padding-top: 40px;
}
main[scope="front-page"] .main-content-wrap h2,
main[scope="front-page"] .main-content-wrap h3,
main[scope="front-page"] .main-content-wrap h4,
main[scope="front-page"] .main-content-wrap h5,
main[scope="front-page"] .main-content-wrap h6  {
   margin-top: 30px!important;
    margin-bottom: 0px!important;
 }
main[scope="front-page"] .main-content-wrap p {
  padding: 25px 0px;
  line-height: 1.7rem;
  font-size: 16px;

 }
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
/* style path 1 - b - 1 main content main "content page" END */
article.page_article .parallaxed {
  height: 55vh;
  overflow: hidden;
  top: 0px;
  left: 0px;
  position: relative;
}

article.page_article .parallaxed .simpleParallax {
  position: absolute;
  height: 100%;
  width: 100%;
}

article.page_article .parallaxed .simpleParallax img {
  width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    object-fit: cover;
}

article.page_article .parallaxed .clearset{
  background: #0000001a;
    top: 0px;
    left: 0px;
    z-index: 2;
    box-shadow: inset 0px -4px 24px -3px #0000008c;
}
article.page_article .post-header {
text-align: center;
}
body.post {

}
/* style path 1 - b - main content main END */
/* style path 1 - c - main content footer START */
footer[scope="site"] {
    height: 320px;
    border-top: 1px solid #eee;
    overflow: hidden;
}
footer[scope="site"] .content-wrap {
  max-width: 1400px;
  margin: auto;
  padding: 40px 0px;
  height: 100%;
}
footer[scope="site"] .content-wrap .inner-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
footer[scope="site"] .address address {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.35rem;
  color: #0e0e0e;
}
footer[scope="site"] .address address .s {
  font-size: 13px
}
footer[scope="site"] .address address hr {
  border: 1px solid #e2e2e2;
}
footer[scope="site"] .address address .name {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  padding-bottom: 7px;
  line-height: 1.85rem;
  letter-spacing: 0.65px;
}
footer[scope="site"] .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 24px;
}
footer[scope="site"] .links ul a {
  text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #2b2b2b;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .4s;
}
footer[scope="site"] .links ul a:hover {
  color: #f34f3f;
}
main[scope="site"] .woocommerce-cart-form__cart-item td.product-remove {
      width: 10px;
}
main[scope="site"] .woocommerce-cart-form__cart-item td.product-thumbnail {
  width: 200px;
}
main[scope="site"] .woocommerce-cart-form__cart-item td.product-thumbnail a {
    display: block;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
}
main[scope="site"] .woocommerce-cart-form__cart-item td.product-name a {
  text-decoration: none;
  color: black;
}
/* style path 1 - c - main content footer END */
/* style path 1 - d - main content parts START */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
        color: #0e0e0e;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
.centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.6s ease;
}
.centerXY {
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.6s ease;
}
.pos-rel {
  position: relative;
}
.d-none {
  display: none;
}
.nocomments {
  display: none;
}

#reviews .review .comment_container img {
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}

#reviews .review .meta {
  font-size: 14px;
  color: #616161;
}

#reviews .review .star-rating {
  font-size: 17px;
  margin-bottom: -10px;
}

#reviews .review .star-rating strong {
  color: #ff9e00;
}

#review_form_wrapper #reply-title {
  font-size: 1.7rem;
  font-family: 'Playfair Display', serif;
}
#review_form_wrapper {
  padding-top: 50px;
  border-top: 1px solid #eee;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
#commentform p {
  padding: 5px 0px;
}
#commentform p input,
#commentform p label {width: 100%;}
#commentform .comment-notes {
  font-size: 15px;
  color: #8e8e8e;
  max-width: 380px;
  line-height: 21px;
  margin-bottom: 20px;
}
#review_form_wrapper .comment-respond {
  max-width: 750px;
}

#review_form_wrapper .comment-respond .form-submit .submit {
  border-radius: 5px;
  border: 2px solid #72cc44;
  height: 50px;
  color: white;
  background: white;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  transition: .4s;
  cursor: pointer;
}

form:not(.woocommerce-cart-form):not(.cart) textarea,
form:not(.woocommerce-cart-form):not(.cart) input {
  border: 1px solid #1a52007d;
  min-width: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}

form:not(.woocommerce-cart-form):not(.cart) {
  max-width: 900px;
  margin: auto;
}

.woocommerce ul#shipping_method li  {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.woocommerce ul#shipping_method li input {
  width: 30px;
}
.woocommerce ul#shipping_method li label {
  width: 100%;
}

form:not(.woocommerce-cart-form):not(.cart):not(.checkout) label {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 18px;
}
#add_payment_method #payment ul.payment_methods li input, .woocommerce-cart #payment ul.payment_methods li input, .woocommerce-checkout #payment ul.payment_methods li input {
  width: 0px;
    margin-right: 0px;
}

#review_form_wrapper .comment-respond .form-submit .submit:hover {
  background: #72cc44;
  color: white;

}


/* style path 1 - d - main content parts END */
/* style path 1 - main content END */
@media only screen and (min-width: 850px) {
  main[scope="front-page"] .preview .simpleParallax img {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
  }
  main[scope="front-page"] .preview .simpleParallax {
    width: 100%;
  }
}
@media only screen and (max-height: 600px) {
  main[scope="front-page"] .preview .simpleParallax {
    width: 100%;
  }
  main[scope="front-page"] .preview .simpleParallax img {
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
  }

}
@media only screen and (max-width: 600px) {
  main[scope="front-page"] .preview h1 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3.1rem;
  }
  #content-section {
    padding:0 10px;
  }
}
@media only screen and (max-width: 1400px) {
  #hinfo > div:not(.pos-abs) {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 1150px) {
  main[scope="front-page"] .main-content-wrap > *:not(.special) {
    padding: 0 20px;
  }
  #content-aside > div {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1050px) {
  #content-aside {
    min-width: unset;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:first-of-type {
    width: 340px;
    height: 440px;
  }



}
@media only screen and (max-width: 962px) {
  main[scope="site"] {
      flex-flow: column;
  }

  aside .product-categories {
    display: flex;
    flex-flow: wrap;
  }

  aside .product-categories li {
        margin: 5px 0px;
  }

  aside .product-categories > li:not(.cat-parent):after {
    content: "|";
    font-size: 20px;
    margin: 0px 10px;
    color: #c2a55d;
  }

  aside .product-categories > li.cat-parent,
  aside .product-categories > li.cat-parent .children {
    width: 100%;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:first-of-type  {
    margin-bottom: calc(14.5vw + 4vw);
    margin-right: 10px;
    margin-left: unset;
    width: 35.5vw;
    height: 46vw;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:only-of-type  {
    margin-bottom: calc(14.5vw + 4vw);
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:first-of-type ~ * {
    bottom: 0;
    top: unset;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(2) {
    left: 0;
  }
  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(3) {
    transform: translateX(calc(100% + 15px));
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(2),
  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(3) {
    width: 17vw;
    height: 17vw;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image:nth-of-type(3) ~ * {
    display: none;
  }
}
@media only screen and ( max-width: 850px) {

  footer[scope="site"] {
    height: auto;
  }

  footer[scope="site"] .content-wrap .inner-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    flex-flow: wrap-reverse;
    margin: auto;
  }
  footer[scope="site"] .links,
  footer[scope="site"]  .address {
    width: calc(50% - 40px);
    margin: 29px 20px;
  }
  footer[scope="site"] .mapouter {width: 100%;}
  footer[scope="site"] iframe {
    width: 100%;
  }
}
@media only screen and ( min-width: 1231px) {
  .mobileMenuButton, .mobileMenuButtonClose {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  header[scope=site] .branding a {
    white-space: normal;
  }
  header[scope=site] .branding {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 350px) {
  footer[scope="site"] .links,
  footer[scope="site"]  .address {
    width: calc(100% - 40px)
  }
}
@media only screen and (max-width: 1450px) {
  main[type="product-page"] .product-summary-wrapper, main[type="product-page"] .woocommerce-tabs .tabs.wc-tabs,
  main[type="product-page"] .woocommerce-tabs .woocommerce-Tabs-panel > *,
  main[type="product-page"] .related.products {
    padding: 0px 20px;
  }


}
@media only screen and (max-width: 1230px) {
  .mobileMenuButton {
    display: block;
      background: white;
      border: 0;
      width: 60px;
      height: 45px;
      font-size: 1.3rem;
      margin-right: 0px;
      text-align: left;
      color: #044a06;
      padding-left: 20px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }

  header[scope="site"] .branding a {
    font-size: 19px;
  }

  #menu-hlavni-menu {
    position: fixed;
    padding-top: 80px!important;
    transform: translateX(calc(120% + 30px));
    width: 90vw;
    top: 0px;
    right: 0;
    z-index: 9999;
    display: block!important;
    height: 100vh;
    background: white;
    transition: 0.5s ease-in-out;
    box-shadow: -4px 0px 12px 6px #9292927d;
  }

  .mobileMenuButtonClose {
    position: absolute;
    left: 0;
    transform: translateX(calc(-100% + 1px));
    border: none;
    height: 45px;
    color: black;
    background: white;
    font-size: 20px;
    top: 48px!important;
    width: calc(10vw + 2px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
  }

  body.menu-open #menu-hlavni-menu {
    transform: translateX(calc(0% + 30px));
  }
  body:not(.header-_on):not(.header-on) header[scope="site"] #main-nav ul li a {
    color: #254146;
    text-shadow: unset;
  }
  #main-nav ul li {
    margin-right: 10px;
    padding: 10px 20px;

  }

}
@media only screen and (max-width: 800px)  {
  main[type="product-page"] #content-section .summary.entry-summary {
    padding-left: 25px;
  }
}

@media only screen and (max-height: 560px) and (max-width: 700px) {
  main[scope="front-page"] .preview .simpleParallax {
    height: 100%;
  }
  main[scope="front-page"] .preview .simpleParallax img {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 680px)  {
  main[type="product-page"] .product-summary-wrapper {
    flex-flow: column-reverse;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery__wrapper {
    display: flex;
    flex-flow: wrap;
    padding: 20px 25px;
  }

  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image,
  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image ~ * {
    position: relative!important;
    margin: 0!important;
    width: 140px!important;
    height: 140px!important;
    margin-right: 10px!important;
    margin-bottom: 10px!important;
    transform: unset!important;
    display: block!important;
  }
  .products .product {
      margin: 20px 0px;
      width: 50%;
      transition: .5s;
      background: white;
      border-radius: 5px;
  }

  .products .product .kytimg {
    width: unset;
    height: 370px;
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 670px) {
  main[scope="site"] #content-section .pinfo {
    flex-flow: column;
  }
  main[scope="site"] #content-section .pinfo .woocommerce-ordering {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: unset;
    padding-right: unset;
  }

  main[scope="site"] #content-section .pinfo .woocommerce-ordering .orderby  {
    width: 100%;
  }
  .pinfo, .pinfo_bottom {
        padding: 10px;
  }

}

@media only screen and (max-width: 500px) {
  main[scope="front-page"] .special.newestpost header {height: unset;}
  main[scope="front-page"] .special.newestpost header .cleareset {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 450px) {
  main[scope="front-page"] .preview .icon-scroll {
    bottom: 5rem;
  }
  #review_form_wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
  .products .product {
      margin: 20px 0px;
      width: 100%;
      transition: .5s;
      background: white;
      border-radius: 5px;

  }
  .products .product h2 {
    padding-left: 15px;
    padding-right: 15px;
    max-width: unset;
  }

  .products .product .kytimg {
    width: unset;
    height: 370px;
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 420px) {
  main[scope="front-page"] .preview h1 {
    font-size: 2.1rem;
  }

  main[type="product-page"] #content-section .quantity input[type="number"] {
    width: 100%;
  }
  main[type="product-page"] #content-section .woocommerce-variation-add-to-cart {
      flex-flow: column;
      width: 100%;
      height: 100%;

  } 
  main[type="product-page"] #content-section .summary .cart div{
    height: 4rem;
  }
  main[type="product-page"] #content-section .variations {
    width: 100%;
    margin-bottom: 10px;
  }
  main[type="product-page"] #content-section .variations .value select {
    width: 100%;
  }
  main[type="product-page"] #content-section button[type="submit"].single_add_to_cart_button {
        height: 4rem;
  }
  main[type="product-page"] #content-section .quantity input[type="number"]  {
    font-size: 20px;
  }

  main[type="product-page"] .product-summary-wrapper, main[type="product-page"] .woocommerce-tabs .tabs.wc-tabs, main[type="product-page"] .woocommerce-tabs .woocommerce-Tabs-panel > *, main[type="product-page"] .related.products {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 390px) {
  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image,
  main[type="product-page"] #content-section .woocommerce-product-gallery .woocommerce-product-gallery__image ~ * {
    position: relative!important;
    margin: 0!important;
    height: 32vw!important;
    width: calc(50% - 10px)!important;
    margin-right: 10px!important;
    margin-bottom: 10px!important;
    transform: unset!important;
    display: block!important;
  }
}
